@model HomeViewModel


<partial name="_Carousel" />

<div class="text-center">
	<img src="Images/logo1.png" class="logo-mark mx-auto" style="height: 137px;" />
	<h1>Events of the month</h1>
	<h5>Check out our new events and join our membership for more news!</h5>
</div>